@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

* {
    margin: 0;
}

.header--container {
    height: 120px;
    background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
    display: flex;
    align-items: center;
}

img {
    padding: 20px;
    margin-left: 2%;
    width: 80px;
    height: 75px;
}

.header--title {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.header--subtitle {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    margin-right: 2%;
    margin-left: auto;
    color: white;
}